.tmp.mk
node_modules
.idea
.DS_Store
.env

*.pyc
.vscode
__pycache__

**/_trial_temp*/*
_trial_temp/
build/
dist/
*.egg-info/
.coverage
.pytest_cache

_vendors
.env
.compiled/
src/protos/_output
_build
package-lock.json
src/webapp/db/vending_machine.sqlite