/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Banner
- Tables/Dropdown
- Containers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    background-color: #f2f2f2;
    margin: 3%;
}

.app-content {
    /* background-color: #ffffff; */
    padding:20px;
}


.banner {
    height: fit-content;
    /* background-color: rgb(241, 252, 252); */
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #4B5460; */
    padding: 1rem 10rem;
    width: 100%;
  }
  
  
  .banner h3 {
    color: #222222;
    font-family: "Gill Sans", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    
  }
  
  .banner h5 {
    color: #222222;
    font-family: "Gill Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center; 
  }


.custom-tabs-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.custom-tabs {
    border-radius: 10px;
}

.custom-tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.label {
    font-weight: bold;
    margin-top: 15px;
}

/* .link {
    text-align: right;
} */

.pretty_container {
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 5px;
    padding: 25px;
    position: relative;
}
  
.pretty_container h4, h5{
    color: #222222;
    font-family: "Gill Sans", sans-serif;
    line-height: 1;
    text-transform: capitalize;   
}

.pretty_container_fig {
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 5px;
    /* padding: 15px; */
    position: relative;
}

.pretty_container_fig h4 {
    color: #222222;
    font-family: "Gill Sans", sans-serif;
    line-height: 1;
    margin: 10px 0px 0px 20px;
    padding: 10px;
    text-decoration: underline #222222;
    /* text-transform: capitalize;    */
}

.pretty_container_info {
    background-color: #9fb3a9;
    border-radius: 10px;
    margin: 5px;
    padding: 30px;
    position: relative;
}

.pretty_container_info h4 {
    color: #fffde8;
    font-family: Georgia, serif;
    line-height: 1.5;
    margin: 5px 0px 15px 0px;
    /* padding: 10px; */
}

.pretty_container_info p, li {
    color: #222222;
    padding: 0px 10px 5px 10px;
}